.App {
    max-width: 800px;
    margin: 40px auto;
}

.App header h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.7), -1px -1px 1px rgba(0, 0, 0, 0.7);
    font-size: 50px;
}

.App footer {
    text-align: center;
    font-size: 12px;
}